/*

@package hoardtheme

*/

.hoard-general-form,
.hoard-sidebar-preview { display: inline-block; float: left; }

.hoard-sidebar-preview { width: 280px; background-color: #1F1F1F; padding: 20px; text-align: center; margin-right: 20px; }
.hoard-sidebar { display: block; text-align: center; }
h1.hoard-username,
h2.hoard-description { font-weight: 100; color: #fff; }
h1.hoard-username { font-size: 24px; margin: 0 0 10px; }
h2.hoard-description { font-size: 13px; margin: 0 0 20px; }
